<link href="css/style.css" rel="stylesheet"/>
<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/profile/{{model.user._id}}">Profile</a>
            </div>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.user._id, model.user)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </nav>

    <div class="container-fluid">
        <h2>Profile</h2>
        <label for="username">Username</label>
        <input name="username"
               ng-model="model.user.username"
               class="form-control"
               readonly
               id="username"/>
        <label for="Email">Email</label>
        <input name="Email"
               ng-model="model.user.email"
               class="form-control"
               type="email"
               placeholder="Alice@gmail.com"
               id="Email"/>
        <label for="first_name">First Name</label>
        <input name="first_name"
               ng-model="model.user.firstName"
               class="form-control"
               id="first_name"/>
        <label for="last_name">Last Name</label>
        <input name="last_name"
               ng-model="model.user.lastName"
               class="form-control"
               id="last_name"/>

        <a class="btn btn-default btn-primary btn-block"
           href="#!/user/{{model.user._id}}/website"
           role="button">Websites</a>
        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.updateUser(model.user._id, model.user)"
           role="button">Update</a>
        <a class="btn btn-default btn-danger btn-block"
           href="#!/login"
           role="button">Logout</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text pull-right">
                <a href="profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </nav>
</div>
