<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Page</title>
    <!--<link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/style_page.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand pull-left" href="page-list.view.client.html">
                <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand pull-left" href="page-new.view.client.html">New Page</a>
        </div>
        <p class="navbar-text pull-right">
            <a href="page-list.view.client.html" class="navbar-header">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <label for="page_name">Name</label>
    <input name="page_name"
           class="form-control"
           id="page_name"
           placeholder="Page Name"/>

    <label for="title">Title</label>
    <input name="title"
           class="form-control"
           id="title"
           placeholder="Page Title"/>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>

</body>
</html>