<link href="css/style_page.css" rel="stylesheet">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand pull-left" ng-click="model.updatePage(model.pid, model.page)">
                <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand pull-left" href="page-edit.view.client.html">Edit Page</a>
        </div>
        <p class="navbar-text pull-right">
            <a ng-click="model.updatePage(model.pid, model.page)" class="navbar-header">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <div ng-show="model.errorMessage" class="alert alert-danger">
        {{model.errorMessage}}
    </div>
    <label for="name">Name</label>
    <input name="name"
           ng-model="model.page.name"
           class="form-control"
           id="name"
           value="Blog Post"/>

    <label for="title">Title</label>
    <input name="title"
           ng-model="model.page.description"
           class="form-control"
           id="title"
           placeholder="Page Title"/>

    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.deletePage(model.pid)"
       role="button">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>