<div ng-if="widget.formatted"
     text-angular
     ng-model="widget.text"
     placeholder="{{widget.placeholder}}"
     ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'p'],
      ['bold', 'italics', 'underline', 'ul', 'ol', 'undo'],
      ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent'],
      ['html', 'wordcount', 'charcount']]"></div>

<input ng-if="!widget.formatted && (!widget.rows || widget.rows === 1)"
       type="text"
       rows="1"
       ng-model="widget.text"
       placeholder="{{widget.placeholder}}"
       class="form-control"
       value="{{widget.text}}"/>

<textarea ng-if="!widget.formatted && (widget.rows > 1)"
          rows="{{widget.rows}}"
          placeholder="{{widget.placeholder}}"
          ng-model="widget.text"
          class="form-control">{{widget.text}}</textarea>
