input, textarea {
    margin-bottom: 5px;
}

body {
    padding-top:60px;
    padding-bottom:60px;
}

.navbar .navbar-brand {
    color: white;
}

.navbar-default {
    background-color: #285dc3;
    border-color: #e7e7e7;
}

.glyphicon {
    color: white;
}

.glyphicon-cog{
    color: darkslategray;
}

.navbar-header {
    float: left;
}

.nav.navbar.navbar-default.navbar-fixed-top {
    padding-right: 5px;
    padding-left:5px;
    position: absolute;
}

.container-fluid {
    min-inline-size:187px;
}

.zyy-split-view-left{
    position: absolute;;
    top: 60px;
    bottom:60px;
    overflow-y:scroll;
}

@media (min-width: 1200px) {
    .col-lg-9.zyy-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top: 60px;
        bottom: 60px;
    }
}

@media (min-width: 992px) {
    .col-md-9.zyy-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top: 60px;
        bottom: 60px;
    }
}