input {
    margin-bottom: 5px;
}

body {
    padding-top:60px;
    padding-bottom:60px;
}

.navbar .navbar-brand {
    color: white;
}

.navbar-default {
    background-color: #285dc3;
    border-color: #e7e7e7;
}

.glyphicon {
    color: white;
}

.glyphicon-cog{
    color: darkslategray;
}

.navbar-header {
    float: left;
}

nav.navbar.navbar-default.navbar-fixed-top {
    padding-right: 8px;
    padding-left:8px;
    position: absolute;
}
