<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget Edit</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="../../../css/style_page.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand pull-left" href="../widget-list.view.client.html">
                <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand pull-left" href="widget-youtube.view.client.html">Widget Edit</a>
        </div>
        <p class="navbar-text pull-right">
            <a href="../widget-list.view.client.html" class="navbar-header">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <label for="name">Name</label>
    <input name="name"
           class="form-control"
           id="name"
           placeholder="Video Name"/>

    <label for="text">Text</label>
    <input name="text"
           class="form-control"
           id="text"
           placeholder="Text for the video"/>

    <label for="url">Url</label>
    <input name="url"
           class="form-control"
           id="url"
           value="https://www.youtube.com/watch?v=_bNBN9XlTK0"/>

    <a class="btn btn-default btn-danger btn-block"
       href="../widget-list.view.client.html"
       role="button">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../../../user/templates/profile.view.client.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>

</body>
</html>