<link href="css/style.css" rel="stylesheet"/>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand pull-left" ng-click="model.updateWebsite(model.website)">
                <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="col-md-2 col-lg-2 visible-lg visible-md navbar-header">
            <a class="navbar-brand">Websites</a>
        </div>
        <div class="visible-md visible-lg navbar-text">
            <a href="#!/user/{{model.userId}}/website/new" class="navbar-header">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-10 navbar-header">
            <a class="navbar-brand">Edit Website</a>
        </div>
        <div class="pull-right navbar-text">
            <a ng-click="model.updateWebsite(model.website)" class="navbar-header">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 visible-lg visible-md zyy-split-view-left">
            <ul class="list-group">
                <li ng-repeat="website_unedited in model.websites_unedited" class="list-group-item">
                    <a href = "#!/user/{{model.userId}}/website/{{website_unedited._id}}/page">{{website_unedited.name}}</a>
                    <span ng-click="model.maintainWebsiteByCog(model.website, website_unedited._id)" class="pull-right glyphicon glyphicon-cog"></span>
                </li>
            </ul>
        </div>
        <div class="col-md-9 col-lg-9 zyy-split-view-right">
            <div ng-show="model.errorMessage" class="alert alert-danger">
                {{model.errorMessage}}
            </div>
            <label for="name">Website Name</label>
            <input name="name"
                   ng-model="model.website.name"
                   class="form-control"
                   id="name"/>

            <label for="description">Website Description</label>
            <textarea name="description"
                      class="form-control"
                      ng-model="model.website.description"
                      id="description"
                      rows="8"></textarea>
            <a class="btn btn-default btn-danger btn-block"
               ng-click="model.deleteWebsite(model.website._id)"
               role="button">Delete</a>
            <a class="btn btn-default btn-primary btn-block"
               ng-click="model.updateWebsite(model.website)"
               role="button">Update</a>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text pull-right">
                <a ng-click="model.maintainWebsiteByProfile(model.website_unedited)" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </nav>
</div>

</body>
</html>