<label for="name">Name</label>
<input name="name"
       ng-model="model.widget.name"
       class="form-control"
       id="name"
       placeholder="HTML Name"/>

<!--
<label for="col-size">Bootstrap Column Size</label>
<input name="col-size"
       ng-model="model.widget.colsize"
       class="form-control"
       id="col-size"/>-->

<div text-angular
     ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'p'],
      ['bold', 'italics', 'underline', 'ul', 'ol', 'undo'],
      ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent'],
      ['html', 'wordcount', 'charcount']]"
      ng-model="model.widget.text">
</div>
<a class="btn btn-primary btn-danger btn-block"
   ng-click="model.deleteWidget(model.wgid)">
    Delete
</a>