<link href="css/style_page.css" rel="stylesheet">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand pull-left" href="#!/user/{{model.userId}}/website/{{model.wid}}/page">
                <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand pull-left">Widget List</a>
        </div>
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}/website/{{model.wid}}/page/{{model.pid}}/widget/new" class="navbar-header">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <div ng-repeat="widget in model.widgets" class="zyy-widget-list">
        <div class="zyy-toolbar">
            <a href="editors/widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a href="editors/widget-heading.view.client.html">
                <span class="glyphicon glyphicon-align-right"></span>
            </a>
        </div>
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HEADING">
                <ng-include src="'widget/templates/views/widget-heading.view.client.html'">
            </div>
            <div ng-switch-when="IMAGE">
                <ng-include src="'widget/templates/views/widget-image.view.client.html'">
            </div>
            <div ng-switch-when="YOUTUBE">
                <ng-include src="'widget/templates/views/widget-youtube.view.client.html'">
            </div>
            <div ng-switch-when="HTML">
                <ng-include src="'widget/templates/views/widget-html.view.client.html'">
            </div>
        </div>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
