<link href="css/style_page.css" rel="stylesheet">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand pull-left" href="#!/user/{{model.userId}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand pull-left">Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="zyy-chooser-list-group-item">
            <a ng-click="model.createWidget('HEADING')">Header</a>
        </li>
        <li class="zyy-chooser-list-group-item">
            <a href="">Label</a>
        </li>
        <li class="zyy-chooser-list-group-item">
            <a href="">HTML</a>
        </li>
        <li class="zyy-chooser-list-group-item">
            <a href="">Text Input</a>
        </li>
        <li class="zyy-chooser-list-group-item">
            <a href="">Link</a>
        </li>
        <li class="zyy-chooser-list-group-item">
            <a href="">Button</a>
        </li>
        <li class="zyy-chooser-list-group-item">
            <a ng-click="model.createWidget('IMAGE')">Image</a>
        </li>
        <li class="zyy-chooser-list-group-item">
            <a ng-click="model.createWidget('YOUTUBE')">Youtube</a>
        </li>
        <li class="zyy-chooser-list-group-item">
            <a href="">Data Table</a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>