<link href="css/style.css" rel="stylesheet"/>

<div ng-controller="profileController">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="profile.html">Profile</a>
            </div>
            <p class="navbar-text pull-right">
                <a href="profile.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </nav>

    <div class="container-fluid">
        <h2>Profile</h2>
        <label for="username">Username</label>
        <input name="username"
               ng-model="user.username"
               class="form-control"
               readonly
               value="bill"
               id="username"/>
        <label for="Email">Email</label>
        <input name="Email"
               class="form-control"
               type="email"
               value="Alice@gmail.com"
               id="Email"/>
        <label for="first_name">First Name</label>
        <input name="first_name"
               ng-model="user.firstName"
               class="form-control"
               value="Yuyang"
               id="first_name"/>
        <label for="last_name">Last Name</label>
        <input name="last_name"
               ng-model="user.lastName"
               class="form-control"
               value="Zhang"
               id="last_name"/>

        <a class="btn btn-default btn-primary btn-block"
           href="website-list.html"
           role="button">Websites</a>
        <a class="btn btn-default btn-danger btn-block"
           href="login.html"
           role="button">Logout</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text pull-right">
                <a href="profile.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </nav>
</div>
