<link href="css/style.css" rel="stylesheet"/>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand pull-left" href="#!/user/{{model.userId}}/website">
                <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="col-md-2 col-lg-2 visible-lg visible-md navbar-header">
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website">Websites</a>
        </div>
        <div class="visible-md visible-lg navbar-text">
            <a href="#!/user/{{model.userId}}/website/new" class="navbar-header">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-10 navbar-header">
            <a class="navbar-brand">New Website</a>
        </div>
        <div class="pull-right navbar-text">
            <a ng-click="model.addWebsite(model.userId, website)" class="navbar-header">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 visible-lg visible-md zyy-split-view-left">
            <ul class="list-group">
                <li ng-repeat="website in model.websites" class="list-group-item">
                    {{website.name}}
                    <span class="pull-right glyphicon glyphicon-cog"></span>
                </li>
            </ul>
        </div>
        <div class="col-md-9 col-lg-9 zyy-split-view-right">
            <div ng-show="model.errorMessage" class="alert alert-danger">
                {{model.errorMessage}}
            </div>
            <label for="name">Name</label>
            <input name="name"
                   ng-model="website.name"
                   placeholder="website name"
                   class="form-control"
                   id="name"/>

            <label for="description">Description</label>
            <textarea name="description"
                      ng-model="website.description"
                      placeholder="Description for this website"
                      class="form-control"
                      id="description"
                      rows="8"></textarea>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </nav>
</div>
